{% extends 'base.html' %}

{% block title %}
Todo Lists
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for list in todo_lists %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}